[submodule "3rd-party/glfw"]
	path = 3rd-party/glfw
	url = git@github.com:glfw/glfw
[submodule "3rd-party/vulkan-headers"]
	path = 3rd-party/vulkan-headers
	url = git@github.com:KhronosGroup/Vulkan-Headers
[submodule "3rd-party/openal-soft"]
	path = 3rd-party/openal-soft
	url = git://repo.or.cz/openal-soft.git
[submodule "3rd-party/cimgui"]
	path = 3rd-party/cimgui
	url = git@github.com:cimgui/cimgui
